<form [formGroup]="form" class="todo__form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="todo__form__input">
    <input
      matInput
      placeholder="Type something..."
      formControlName="message"
      (blur)="updateErrorMessage()"
      required
    />
    @if (messageControl?.invalid) {
      <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>
  <button mat-mini-fab class="todo__form__add-btn" type="submit">
    <mat-icon>add</mat-icon>
  </button>
</form>
