<div class="dialog">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content class="dialog__content">
    @if (data.type === "delete") {
      <p>{{ data.message }}</p>
    } @else if (data.type === "edit") {
      <mat-form-field appearance="outline" class="dialog__content__input">
        <input
          matInput
          placeholder="Type something..."
          [formControl]="updateMessageControl"
          (blur)="updateErrorMessage()"
          required
        />
        @if (updateMessageControl.invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="dialog__actions">
    <button mat-button class="dialog__actions__cancel-btn" (click)="onCancel()">
      Cancel
    </button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      class="dialog__actions__confirm-btn"
      [disabled]="
        data.type === 'edit' &&
        updateMessageControl.invalid && updateMessageControl.touched
      "
      (click)="onConfirm()"
    >
      {{ data.confirmText || "OK" }}
    </button>
  </mat-dialog-actions>
</div>
